RewriteEngine On
RewriteBase /

# Если запрашиваемый файл существует - отдаём как есть
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Добавляем .html к запросам без расширения (приоритет над папками)
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# 404 страница
ErrorDocument 404 /404.html
